* {
    margin: 0;
    padding:0;
    font-family: 'SF Fedora';
    color: white;
    -webkit-text-stroke: 2px black;
}

body {
    display: flex;
    flex-direction: column;
}
li {
    text-align: center;
    -webkit-text-stroke: 2px black;
    list-style: none;
}


    /** début du header **/

    header { 
        background-image: url(Images/fond.webp);
        background-size: cover;
        background-position: center;
        text-align: center;
        padding-top: 50vh;
        padding-bottom: 30vh;
    }

    .titresite {
        font-size: 20vh;
        text-align: center;
    }

    /** fin du header **/

    /** début section Présentation **/ 

    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #4a3524;
        padding-top: 20vh;
        padding-bottom: 20vh;
    }

    .profilpicture {
        width: 60vh;
        border-radius: 90%;
        border: 3px solid black;
    }

    .textepresentation {
        text-align: center;
        font-size: 7vh;
        padding-right: 10vh;
        padding-left: 10vh;
        padding-top: 10vh;
    }
    /** Fin section Présentation **/

    .diplome {
        background-image: url(Images/jungle.webp);
        background-size: cover;
        background-position: center;
        padding-top: 20vh;
        padding-bottom: 20vh;
    }

    .titresection {
        text-align: center;
        -webkit-text-stroke: 1px black;
        font-size: 15vh;
    }

    .listedip li {
        font-size: 6vh;
        padding: 5vh;
        -webkit-text-stroke: 4px black;
    }

/** fin partie diplome **/
/** début partie competences **/

    .competences {
        background-image: url(Images/atlantis.webp);
        background-size: cover;
        background-position: center;
        padding-top: 20vh;
        padding-bottom: 20vh;
    }

    .titreskill {
        text-align: center;
        -webkit-text-stroke: 3px black;
        font-size: 10vh;
        padding-top: 10vh;
    }

    .hardskill li {
        font-size: 5vh;
        -webkit-text-stroke: 3px black;
        padding-top: 2vh;
    }

    .softskill li {
        font-size: 5vh;
        -webkit-text-stroke: 3px black;
        padding-top: 2vh;
    }
    /** fin partie competences **/
    /** début partie experiences **/

    .experience {
        background-image: url(Images/pyramide.webp);
        background-size: cover;
        background-position: center;
        padding-top: 20vh;
        padding-bottom: 20vh;
    }

    .titrexp {
        -webkit-text-stroke: 3px black;
        font-size: 8vh;
        text-align: center;
        padding-top: 4vh;
        padding-bottom: 2vh;
    }

    .parcours p {
        -webkit-text-stroke: 3px black;
        font-size: 5vh;
        text-align: center;
        padding-left: 3vh;
        padding-right: 3vh;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    /** fin section experiences **/
    /** début footer **/

    .footer {
        background-color: #4a3524;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .footer a {
        -webkit-text-stroke: 1px black;
        text-decoration: none;
        display: flex;
    }

    .row {
        display: flex;
        align-items: center;
        font-size: 5vh;
        padding-top: 2vh;
    }

    i {
        padding-left: 5vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
        font-size: 5vh;
    }
    /** fin footer **/


@media screen and (min-width: 320px) and (max-width: 768px) {

    /** début du header **/

    header { 
        background-image: url(Images/fond.webp);
        background-size: cover;
        background-position: center;
        text-align: center;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    .titresite {
        font-size: 6vh;
        text-align: center;
    }

    /** fin du header **/

    /** début section Présentation **/ 

    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #4a3524;
        padding: 5vh;
    }

    .profilpicture {
        width: 40vh;
        border-radius: 90%;
        border: 3px solid black;
    }

    .textepresentation {
        text-align: center;
        font-size: 5vh;
    }
    /** Fin section Présentation **/

    .diplome {
        background-image: url(Images/jungle.webp);
        background-position: center;
        background-size: cover;
        padding: 5vh;
    }

    .titresection {
        text-align: center;
        -webkit-text-stroke: 1px black;
        font-size: 6vh;
    }

    .listedip li {
        font-size: 4vh;
        padding-top: 10vh;
        -webkit-text-stroke: 1px black;
    }

/** fin partie diplome **/
/** début partie competences **/

    .competences {
        background-image: url(Images/atlantis.webp);
        background-size: cover;
        background-position: center;
        padding: 5vh;
    }

    .titreskill {
        text-align: center;
        -webkit-text-stroke: 1px black;
        font-size: 5vh;
        padding-top: 10vh;
    }

    .hardskill li {
        font-size: 3vh;
        -webkit-text-stroke: 1px black;
        padding-top: 2vh;
    }

    .softskill li {
        font-size: 3vh;
        -webkit-text-stroke: 1px black;
        padding-top: 2vh;
    }
    /** fin partie competences **/
    /** début partie experiences **/

    .experience {
        background-image: url(Images/pyramide.webp);
        background-size: cover;
        background-position: center;
        padding: 5vh;
    }

    .titrexp {
        -webkit-text-stroke: 1px black;
        font-size: 4vh;
        text-align: center;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }

    .parcours p {
        -webkit-text-stroke: 1px black;
        font-size: 3vh;
        text-align: center;
    }

    /** fin section experiences **/
    /** début footer **/

    .footer {
        background-color: #4a3524;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .footer a {
        -webkit-text-stroke: 1px black;
        text-decoration: none;
        display: flex;
        font-size: 2vh;
    }

    .row {
        display: flex;
        align-items: center;
        padding-top: 2vh;
    }

    i {
        padding-left: 2vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    /** fin footer **/
}